<div class="grid-container">
  <div
    *ngFor="let row of gameService.getCells(); let rowId = index"
    class="grid-row"
  >
    <div *ngFor="let cell of row; let columnId = index" class="grid-cell">
      <app-grid-cell
        [coordinateY]="rowId"
        [coordinateX]="columnId"
        [value]="gameService.getCells()[rowId][columnId]"
      ></app-grid-cell>
    </div>
  </div>
</div>
<p>{{gameService.getGeneration()}}. generation</p>
<mat-icon (click)="gameService.generateInitialCells()">clear</mat-icon>
<mat-icon (click)="gameService.reset()">settings_backup_restore</mat-icon>
<mat-icon (click)="gameService.nextGeneration()">skip_next</mat-icon>
